@model List<Domain.Identity.UserInt>

@{
    ViewBag.Title = Resources.Front.UsersAgents;
}




<div class="row">
    <div class="col-lg-6">
        <div class="panel panel-default">
            <div class="panel-heading" data-original-title>
                <h2>
                    <i class="fa fa-location-arrow"></i><span class="break"></span>@Resources.Front.UsersAgents
                </h2>
                <div class="panel-actions">
                    <a href="@Url.Action("Create","Users",new {area=""})"><i class="fa fa-edit"></i></a>
                </div>
            </div>
            <div class="panel-body">
                <a href="@Url.Action("Create","Users",new {area=""})" class="btn btn-sm btn-success" title="Add restourant"><i class="fa fa-edit"></i> @Resources.Common.Create</a>

                <table class="table table-bordered bootstrap-datatable datatable">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().Email)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().UserName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.FirstOrDefault().PhoneNumber)
                        </th>
                        <th>
                            @Html.DisplayName("Roles")
                        </th>

                        <th></th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Email)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UserName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PhoneNumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Roles.Count)
                            </td>
                            <td>
                                <div class="delete-section">
                                    
                                        <a class="btn btn-sm btn-info" href="@Url.Action("Edit", new {id = item.Id})">
                                            <i class="fa fa-edit "></i>
                                        </a>
                                 </div>
                            </td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

</div>


