@using System.Threading
@{
    var titleTag = (string.IsNullOrWhiteSpace(ViewBag.Title) ? "" : ViewBag.Title + " - ") + Resources.Common.ApplicationName;

    // set up global js variable, to hold culture code
    // it is later used for globalize, cldr and moment
    var currentCultureCode = "root";
    switch (Thread.CurrentThread.CurrentCulture.ToString())
    {
        case "et-EE":
            currentCultureCode = "et";
            break;
        case "en-US":
            currentCultureCode = "en";
            break;
        default:
            currentCultureCode = Thread.CurrentThread.CurrentCulture.ToString();
            break;
    }
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@titleTag</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript">
        var currentCultureCode = '@currentCultureCode';
    </script>
    @RenderSection("headerscripts", required: false)
</head>
<body>

    <!-- start: Header -->
    <div class="navbar" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".sidebar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink(@Resources.Common.ApplicationName, "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })

            </div>
            <ul class="nav navbar-nav navbar-actions navbar-left">
                <li><a href="#" id="main-menu-toggle"><i class="fa fa-bars"></i></a></li>
            </ul>
            @Html.Partial("_LoginPartial")
          

        </div>
    </div>
    <!-- end: Header -->
    <div class="container-fluid content">
        <div class="row">
            <!-- start: Main Menu -->
            <div class="sidebar col-md-2 col-sm-1 ">

                <div class="sidebar-collapse collapse">

                    <div class="nav-sidebar title"><span>@Resources.Common.MainMenu</span></div>

                    <ul class="nav nav-sidebar">
                        <li>
                            <a class="dropmenu" href="index.html#"><i class="fa fa-headphones"></i><span class="hidden-sm text"> @Resources.Front.RecordedCalls</span> <span class="chevron opened"></span></a>
                            <ul>

                                <li><a href="@Url.Action("Index", "Calls", new { area = "" })"><i class="fa fa-search"></i><span class="hidden-sm text"> @Resources.Front.RecordedInteractions</span></a></li>
                                <li><a href="@Url.Action("Selective", "Calls", new { area = ""})"><i class="fa  fa-search-plus"></i><span class="hidden-sm text"> @Resources.Front.Selectiverecording</span></a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="dropmenu" href="index.html#"><i class="fa  fa-users"></i><span class="hidden-sm text"> @Resources.Front.UsersAgents</span> <span class="chevron opened"></span></a>
                            <ul>
                   
                                <li><a href="@Url.Action("Index", "Users", new {area = "Admin"})"><i class="fa  fa-user"></i><span class="hidden-sm text"> @Resources.Front.UsersAgents</span></a></li>
                                <li><a href="@Url.Action("Index", "Roles", new {area = "Admin"})"><i class="fa  fa-gears"></i><span class="hidden-sm text"> @Resources.Front.Roles</span></a></li>
                                <li><a href="@Url.Action("Selective", "Calls", new { area = ""})"><i class="fa  fa-search-plus"></i><span class="hidden-sm text"> @Resources.Front.AgentUserGroups</span></a></li>
                                <li><a href="@Url.Action("ChangePassword", "Manage", new { area = ""})"><i class="fa  fa-search-plus"></i><span class="hidden-sm text"> @Resources.Front.Changepassword</span></a></li>

                                <li><a href="@Url.Action("Index", "UserRoles", new {area = "Admin"})"><i class="fa fa-trophy"></i><span class="hidden-sm text"> Users in Roles</span></a></li>

                            </ul>
                        </li>

                        <li>
                            <a class="dropmenu" href="index.html#"><i class="fa fa-suitcase"></i><span class="hidden-sm text"> @Resources.Front.Management</span> <span class="chevron opened"></span></a>
                            <ul>
                                <li><a href="@Url.Action("Index", "Services", new { area = ""})"><i class="fa  fa-globe"></i><span class="hidden-sm text"> @Resources.Front.Service1</span></a></li>
                                <li><a href="@Url.Action("Selective", "Calls", new { area = ""})"><i class="fa  fa-globe"></i><span class="hidden-sm text"> @Resources.Front.EvaluationForms</span></a></li>

                            </ul>
                        </li>
                        <li>
                            <a class="dropmenu" href="index.html#"><i class="fa fa-bar-chart-o"></i><span class="hidden-sm text"> @Resources.Front.Reports</span> <span class="chevron opened"></span></a>
                            <ul>
                                <li><a href="@Url.Action("Index", "SystemLog", new {area = "Admin"})"><i class="fa  fa-bars"></i><span class="hidden-sm text"> SystemLog</span></a></li>
                            </ul>
                        </li>


                    
                        @if (Request.IsAuthenticated)
                        {
                              }
                        @*<li>@Html.ActionLink("Home", "Index", "Home", new { area = "" }, null)</li>*@
                        @*<li>@Html.ActionLink("API", "Index", "Help", new { area = "" }, null)</li>*@
                        @if (Request.IsAuthenticated && User.IsInRole("Admin"))
                        {

                            <li>
                                <a class="dropmenu" href="index.html#"><i class="fa fa-edit"></i><span class="hidden-sm text"> All</span> <span class="chevron opened"></span></a>
                                <ul>
                                    <li><a href="@Url.Action("Index", "ContactTypes", new {area = "Admin"})"><i class="fa fa-cutlery"></i><span class="hidden-sm text"> Contact type</span></a></li>
                                    <li><a href="@Url.Action("Index", "Articles", new {area = "Admin"})"><i class="fa fa-cutlery"></i><span class="hidden-sm text"> Articles</span></a></li>
                                    <li><a href="@Url.Action("Index", "MultiLangStrings", new {area = "Admin"})"><i class="fa fa-cutlery"></i><span class="hidden-sm text"> MultiLangStrings</span></a></li>
                                    <li><a href="@Url.Action("Index", "Translations", new {area = "Admin"})"><i class="fa fa-cutlery"></i><span class="hidden-sm text"> Translations</span></a></li>
                                    
                                    <li><a href="@Url.Action("Index", "UserLogins", new {area = "Admin"})"><i class="fa fa-cutlery"></i><span class="hidden-sm text"> Logins</span></a></li>
                                    <li><a href="@Url.Action("Index", "UserClaims", new {area = "Admin"})"><i class="fa fa-cutlery"></i><span class="hidden-sm text"> Claims</span></a></li>

                                </ul>
                            </li>

                        }
                    </ul>


                </div>
                <a href="#" id="main-menu-min" class="full visible-md visible-lg"><i class="fa fa-angle-double-left"></i></a>
            </div>
            <!-- end: Main Menu -->
            <!-- start: Content -->
            <div class="col-md-10 col-sm-11 main">
                @RenderBody()
            </div>
        </div>
    </div>
    <div class="clearfix"></div>

    <footer>

        <div class="row">

            <div class="col-sm-5">
                
            </div><!--/.col-->

            <div class="col-sm-7 text-right">
                                <p>
                    &copy; @DateTime.Now.Year - @Resources.Common.ApplicationName
                    @if (Request.IsAuthenticated)
                    {
                        <text>(<a href="javascript:document.getElementById('logoutForm').submit()">@Resources.Common.LogOff</a>)</text>
                    }
                    else
                    {
                        <text>(@Html.ActionLink(@Resources.Common.Login, "Login", new { area = "", controller = "Account" }, htmlAttributes: new { id = "loginLink" }) | @Html.ActionLink(@Resources.Common.Register, "Register", new { area = "", controller = "Account" }, htmlAttributes: new { id = "registerLink" }))</text>
                    }
                    (Culture:<b>@Culture</b> UICulture:<b>@UICulture</b>)
                </p>    </div><!--/.col-->

        </div><!--/.row-->
    </footer>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/cldr")
    @Scripts.Render("~/bundles/globalize")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/moment")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Scripts/tinymce/tinymce.min.js")
    @Scripts.Render("~/bundles/app")

    @RenderSection("scripts", required: false)



</body>
</html>