@using PagedList;
@using PagedList.Mvc;
@model Web.ViewModels.CallViewModel

@{
    ViewBag.Title = @Resources.Domain.Calls;
}

@using (Html.BeginForm("Index", "Calls", FormMethod.Get))
{
    @Html.AntiForgeryToken()


    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>
                            <strong>@Resources.Common.Search</strong> @Resources.Domain.Calls
                        </h2>
                        <div class="panel-actions">
                            <a href="/#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="/#" class="btn-close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="text-input">@Resources.Common.From</label>
                            <div class="col-md-9">
                                <div class='input-group input-append'>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                    @Html.EditorFor(model => model.SearchStartDate, new {htmlAttributes = new {@class = "form-control"}})

                                </div>
                                @Html.ValidationMessageFor(model => model.SearchStartDate, "", new {@class = "text-danger"})



                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-3 control-label" for="text-input">@Resources.Common.To</label>
                            <div class="col-md-9">
                                <div class='input-group input-append'>
                                    <span class="input-group-addon">
                                        <span class="glyphicon glyphicon-calendar">
                                        </span>
                                    </span>
                                    @Html.EditorFor(model => model.SearchEndDate, new {htmlAttributes = new {@class = "form-control"}})
                                </div>
                                @Html.ValidationMessageFor(model => model.SearchEndDate, "", new {@class = "text-danger"})


                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label" for="select">@Resources.Domain.Service</label>
                            <div class="col-md-9">

                                @Html.DropDownListFor(model => model.ServiceIdNullable, Model.ServiceSelectList, @Resources.Domain.Services, new {@class = "form-control"})
                                @Html.ValidationMessageFor(model => model.ServiceIdNullable, "", new {@class = "text-danger"})

                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> @Resources.Common.Submit</button>
                    </div>
                </div>


            </div>


            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2>
                            <strong>@Resources.Front.Play</strong> @Resources.Front.Call
                        </h2>
                        <div class="panel-actions">
                            <a href="/#" class="btn-minimize"><i class="fa fa-chevron-up"></i></a>
                            <a href="/#" class="btn-close"><i class="fa fa-times"></i></a>
                        </div>
                    </div>
                    <div class="panel-body">

                       <div id="jquery_jplayer_1" class="jp-jplayer"></div>
<div id="jp_container_1">
	<div class="jp-gui ui-widget ui-widget-content ui-corner-all">
		<ul>
			<li class="jp-play ui-state-default ui-corner-all"><a href="javascript:;" class="jp-play ui-icon ui-icon-play" tabindex="1" title="play">play</a></li>
			<li class="jp-pause ui-state-default ui-corner-all"><a href="javascript:;" class="jp-pause ui-icon ui-icon-pause" tabindex="1" title="pause">pause</a></li>
			<li class="jp-stop ui-state-default ui-corner-all"><a href="javascript:;" class="jp-stop ui-icon ui-icon-stop" tabindex="1" title="stop">stop</a></li>
			<li class="jp-repeat ui-state-default ui-corner-all"><a href="javascript:;" class="jp-repeat ui-icon ui-icon-refresh" tabindex="1" title="repeat">repeat</a></li>
			<li class="jp-repeat-off ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-repeat-off ui-icon ui-icon-refresh" tabindex="1" title="repeat off">repeat off</a></li>
			<li class="jp-mute ui-state-default ui-corner-all"><a href="javascript:;" class="jp-mute ui-icon ui-icon-volume-off" tabindex="1" title="mute">mute</a></li>
			<li class="jp-unmute ui-state-default ui-state-active ui-corner-all"><a href="javascript:;" class="jp-unmute ui-icon ui-icon-volume-off" tabindex="1" title="unmute">unmute</a></li>
			</ul>
		<div class="jp-progress-slider "></div>
	    <div class="jp-volume-slider">
	        
	    </div>
		<div class="jp-current-time"></div>
		<div class="jp-duration"></div>
		<div class="jp-clearboth"></div>
	</div>
	<div class="jp-no-solution">
		<span>Update Required</span>
		To play the media you will need to either update your browser to a recent version or update your <a href="http://get.adobe.com/flashplayer/" target="_blank">Flash plugin</a>.
	</div>
</div>


                        
                    </div>
                    <div class="panel-footer">
                          </div>
                </div>


            </div>
        </div><!--/.col-->
    </div><!--/.row-->
}

<div class="row">
    <div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading" data-original-title>
                <h2>
                    <i class="fa fa-headphones"></i><span class="break"></span>@Resources.Domain.Calls
                </h2><div class="panel-actions">
                    <a href="@Url.Action("Create", "Calls", new {})"><i class="fa fa-edit"></i></a>
                </div>
            </div>


            <div class="panel-body bookings">

                <table class="calls table table-bordered bootstrap-datatable datatable">
                    <tr>

                        <th>
                            @Html.ActionLink(@Resources.Domain.Created, "Index", new { Page=Model.Page.ToString(),Sort = Model.CreatedSort, Search = Model.CurrentSearch, SearchStartDate = Model.SearchStartDate.ToString(), SearchEndDate = Model.SearchEndDate.ToString(), ServiceIdNullable = Model.ServiceIdNullable.ToString() })
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Call.Duration)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Call.Anumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Call.Bnumber)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Call.Dir)
                        </th>

                        <th>
                            @Html.DisplayNameFor(model => model.Call.User.LastFirstName)
                        </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Call.Service.ServiceName)
                        </th>
                        <th></th>

                    </tr>

                    @foreach (var item in Model.PagedCalls)
                    {
                        <tr value="@Html.DisplayFor(modelItem => item.AudioFileName)">

                            <td>
                                @Html.DisplayFor(modelItem => item.Created)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Duration)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Anumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Bnumber)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Dir)
                            </td>

                            <td>
                                @Html.DisplayFor(modelItem => item.User.LastFirstName)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Service.ServiceName)
                            </td>
                            <td>
                                <div class="delete-section">

                                    <a class="btn btn-sm btn-info" href="@Url.Action("Details", new {id = item.CallId})">
                                        <i class="fa fa-search-plus"></i>
                                    </a>

                                </div>
                            </td>
                        </tr>
                    }

                </table>
                @Html.PagedListPager(Model.PagedCalls,Page=>Url.Action("Index", new {Page, Sort = Model.CurrentSort, Search = Model.CurrentSearch, SearchStartDate = Model.SearchStartDate.ToString(), SearchEndDate= Model.SearchEndDate.ToString(), ServiceIdNullable=Model.ServiceIdNullable.ToString() }))
            </div>
        </div>
    </div>

</div>


