@model Web.Areas.Admin.ViewModels.RoleViewModel


@{
    ViewBag.Title = @Resources.Front.Role;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.Role.Id)
    <div class="form-horizontal">
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h2><strong>@Resources.Front.Edit</strong> @Resources.Front.Role</h2>
                    </div>
                    <div class="panel-body">
                        @Html.ValidationSummary(true, "", new {@class = "text-danger"})



                        <div class="form-group">
                            <label class="col-md-3 control-label" for="text-input">@Resources.Front.Role</label>
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.Role.Name, new {htmlAttributes = new {@class = "form-control"}})
                                @Html.ValidationMessageFor(model => model.Role.Name, "", new {@class = "text-danger"})

                            </div>
                        </div>


                        <div class="form-group">
                            <label class="col-md-3 control-label" for="select">@Resources.Front.Roles</label>
                            <div class="col-md-9">
                                <ul class="list-group checked-list-box" id="tables">


                                        @foreach (var item in Model.Privileges)
                                        {

                                            <li class="list-group-item" data-checked="@item.Selected">
                                                <input type="checkbox" name="PrivilegeId" value="@item.Value" checked="@item.Selected" class="hidden" />
                                                @item.Text
                                            </li>
                                        }

</ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button type="submit" class="btn btn-sm btn-primary"><i class="fa fa-dot-circle-o"></i> @Resources.Front.Editentity</button>
                    </div>

                </div>



            </div>
        </div><!--/.col-->
    </div><!--/.row-->
}
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/checkbox.js"></script>
}